{% if reference and reference != "" and reference != nil %}
	{% assign ref = reference %}
  
	{% if entry.doi %}
		{% assign doi_url = "https://doi.org/" | append: entry.doi | strip %}
		{% assign doi_link = "<a href='" | append: doi_url | append: "' target='_blank' rel='noopener'>" | append: doi_url | append: "</a>" %}
		{% assign ref = ref | replace: entry.doi, doi_link %}
	{% endif %}
  
	{% if entry.url %}
		{% assign url = entry.url | strip %}
		{% assign url_link = "<a href='" | append: url | append: "' target='_blank' rel='noopener'>" | append: url | append: "</a>" %}
		{% assign ref = ref | replace: url, url_link %}
	{% endif %}
  
	<li>{{ ref | safe }}</li>
{% endif %}
